h1{
    background-color: aqua;
}
p{
    background-color: bisque;
}
a{
    background-color: rgb(244, 57, 57);
}
div{
    background-color: aquamarine;
}
span{
    background-color: rgb(36, 97, 97);
}